li,body,form,input,h1 h2 h3 h4 h5 h6 li dl dt dd body p ul ol {
	margin: 0;
	padding:0;
	list-style: none;
	font-weight: normal
}
a{ 
	/*color: #666666;*/
	text-decoration: none;
}
select{
	border: 0  solid  #ffffff;

}
a:hover{
	color: #E5004F;
}
select:hover{
	color: #E5004F;
};